<div class="jumbotron">
    <div class="container-fluid">
      <div class="over container body-content">
          <br>
          <br>
          <br>
          <h1>We're bringing PD back.</h1>
          <h2>LearnCycle.io helps schools and PD providers get better, together.</h2>
          <br>
          <br>

      <p><a class="btn btn-default btn-lg" href="#" role="button">Learn more</a></p>

      </div>
    </div>
</div>

<div class="container">
  <div class="main-container">
      <h3>
        If ever there was a need for high-quality, sustained professional development, it is now, as educators face a perfect storm of factors demanding top performance.
      </h3>  
      <br>
      <h3>
        LearnCycle wants to make it easy for school leaders to plan great PD for all teachers. We want to connect current and retired teachers, independent consultants, and other PD providers to schools, districts, and charter networks looking for experts that can provide high quality PD.
      </h3>
      <br>
      <h3><strong>
        Meet our PD Providers!
      </strong></h3>
  </div>
</div>

  <br>

<div class="container">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
            <%= link_to image_tag(listing.image.url), listing %>
            <div class="caption">
              <h3><%= listing.name %></h3>
              <h4><%= "PD Topic: #{listing.pd_offering}" %></h4>
              <p><%= number_to_currency(listing.price) %></p>            
              <% if (user_signed_in?) && (current_user == listing.user) %>
              <% end %>  
            </div>              
        </div>    
      </div>  
    <% end %>
  </div>


    <% if user_signed_in? %>
      <%= link_to "Create New PD Offering", new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
    <% end %>
  <br>
  <br>
  <br>
  <br>
</div>


