<div class="container">
	<% if current_user == @listing.user %>
		<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %>
	<% end %>	
		<%= link_to 'Back', listings_path, class: "btn btn-link" %>
	<div class="row">
		<div class="col-md-5">
			<div class="col-md-12">
				<div class="thumbnail">
					<%= image_tag @listing.image.url %>
				</div>
					<h3><%= @listing.name %></h3>
					<div class="star-rating" data-score= <%= @avg_rating %>></div>
					<p><%= "#{@reviews.length} reviews" %></p>

					<h6>Background</h6>
					<p><%= @listing.description %></p>
					<h6>Expertise</h6>
					<p><%= @listing.expertise %></p>
					<h6>PD Offering</h6>
					<p><%= @listing.pd_offering %></p>
					<h6>Price</h6>
					<p><%= number_to_currency(@listing.price) %></p>
					<br>
				<div class="center">
					<%= link_to "Booking Request Form", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
					<br>
					<br>
					<%= link_to "Write a Review", new_listing_review_path(@listing), class: "btn btn-primary" %>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>	
	
		<div class="col-md-7">
			<% if @reviews.blank? %>
				<h3>No reviews yet.</h3>
			<% else %>
				<table class="table">
					<tbody>
						<%= @reviews.each do |review| %>
							<tr>
								<td>
									<div class="star-rating" data-score= <%= review.rating %>></div>
									<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>		
		</div>
	</div>

<script>
$('.star-rating').raty({
	path: 'https://s3.amazonaws.com/lciodemo/stars/',
	readOnly: true,
	score: function() {
    	return $(this).attr('data-score');
  	}
});
</script>

</div>

