<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @booking.school %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booking.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @booking.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @booking.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @booking.zip %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @booking.phone_number %>
</p>

<p>
  <strong>Desired dates:</strong>
  <%= @booking.desired_dates %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
